
        body {
            font-family: 'Krona One', sans-serif;
            margin: 0;
            padding: 0;
            background: #f0f0f0; 
            color: #333;
        }

        .body {
            font-family: 'Krona One', sans-serif;
            margin: 0;
            padding: 0;
            background: url('./images/20231204_230129.jpg') center/cover; 
            color: white;
            height: 100%;
        }
        
        header,
        nav {
            background-color: rgba(0, 0, 0, 0.8); 
        }
        
        .hero-section {
            background-color: rgba(0, 0, 0, 0.8); 
            height: 100%;
        }
        
        header {
            text-align: center;
            padding: 250px 0px 50px;
        }
        
        
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0.5em 0;
            z-index: 1000; 
        }
        
        nav a {
            color: white;
            text-decoration: none;
            padding: 0.5em 1em;
            margin: 0 10px;
            font-weight: bold;
            transition: color 0.3s;
        }
        
        nav a:hover {
            color: #89cff0;
        }
        
        .hero-section {
            text-align: center;
            padding: 0px 30px 100px;
        }

        .hero-section h2{
            color: white;
            font-size: 80px;
            margin: 0px 0px 40px;
        }
        
        .hero-section p {
            color: white;
        }

        .flex{
            display: flex;
            justify-content: space-around;
          }
          
        .hamburger_container input{
            display: none;
            }
            
            .hamburger_container label{
            font-size: 30px;
            cursor: pointer;
            color: red;
            position: fixed;
            right: 10px;
            top:30px ;
            display: none;
            }
            
            .hide_nav_container{
            display: none;
            height: 70vh;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 10;
            background-color: white;
            }
            
            .hide_nav_container nav{
                display: contents;
            margin-top: 10%;
            background-color: white;
            }
            
            .hide_nav_container nav ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            color: #8a8a8a;
            padding-top: 40px;
            }
            
            
            .hide_nav_container ul li{
            list-style: none;
            font-size: 15px;
            margin: 10px 0;
            cursor: pointer; 
            }
            
            .hide_nav_container ul li a{
            text-decoration: none;
            color: black;
            margin: 30px;
            letter-spacing: 3px;
            }
            
            .hide_nav_container a:hover {
            color: red;
            }
            
            .hide_nav_container .nav  .nav-link :hover {
            color: blue; 
            }

        .text-center{
            text-align: center;
        }

        .wdth-70{
            width: 70%;
            margin: auto;
        }

        .product-grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
          }
          
          .price {
            color: grey;
            font-size: 22px;
          }
          
          .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
          }
          
          .card button:hover {
            opacity: 0.7;
          }

          footer {
            text-align: center;
            padding: 20px;
            background: #333;
            color: #fff;
        }
        
        
        .subscribe {
            padding: 50px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            background-color: chocolate;
            width: 80%;
            margin: auto;
        }
        
        .dont-miss-section {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .dont-miss-text {
            color: #584835;
            width: 100%;
            margin: 0 0 25px;
            display: block;
            font-size: 80px;
            text-align: center;
            font-family: Futura, sans-serif;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 6px;
            text-transform: uppercase;
        }
        
        .signup-form {
            display: flex;
            gap: 10px;
            max-width: 400px;
            margin: 0 auto;
        }
        
        .form-group {
            margin-bottom: 20px;
        }
      
        .form-input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid black;
            border-radius: 4px;
            background-color: chocolate;
            color: black;
        }
        
        .form-button {
            background: #007bff;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 9px;
            cursor: pointer;
            transition: background 0.3s;
            width: 200px;
            height: 40px;
        }
        
        .form-button:hover {
            background: #0056b3;
        }
       
          @media screen and (max-width: 800px) {

            nav{
                display: none;
            }
        
            header {
                text-align: center;
                padding: 50px 0px 50px;
            }

            .product-grid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            .dont-miss-text {
                font-size: 40px;
            }
        
            .subscribe {
                padding: 50px 0px;
                width: 100%;
            }
        
            .hero-section h2{
                font-size: 30px;
            }

            .hamburger_container label{
                display: block;
                z-index: 20;
                }
                
                input:checked ~ .hide_nav_container {
                display: block;
                color: black;
                }
          }
        
          @media screen and (max-width: 600px) {
           
            .product-grid{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
            }

            .dont-miss-text {
                font-size: 40px;
            }

            .signup-form {
                display: grid;
                gap: 10px;
                max-width: 400px;
                margin: 0 10px;
                grid-template-columns: repeat(2, 1fr);
            }
          
          }
        
          @media screen and (max-width: 400px) {
            .dont-miss-text {
                font-size: 20px;
            }
        
            .signup-form {
                display: grid;
                gap: 10px;
                max-width: 400px;
                margin: 0 10px;
                grid-template-columns: repeat(1, 1fr);
            }
        
            .exhibition-details h3{
                font-size: 20px !important;
            }
        
            .exhibition-date {
                font-size: 15px;
                margin: 40px 0px;
            }
        
            .hero-section h2{
                font-size: 20px;
            }
          }