*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: url('./images/20231204_230129.jpg') center/cover; 
    color: white;
    height: 100%;
}

header,
nav {
    background-color: rgba(0, 0, 0, 0.8); 
}

.hero-section {
    background-color: rgba(0, 0, 0, 0.8); 
    height: 100%;
}

header {
    text-align: center;
    padding: 250px 0px 50px;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    z-index: 1000; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #89cff0;
}

.hero-section {
    text-align: center;
    padding: 0px 30px 100px;
}

.hero-section h2{
    color: white;
    font-size: 80px;
    margin: 0px 0px 40px;
}

.hero-section p {
    color: white;
}

.bk-whitesmoke{
    background-color: whitesmoke;
    margin: 0;
}

.gallery-section {
     text-align: center;
     padding: 100px 0px 0px;
}

hr {
    border: 1px solid black;
    width: 50px; 
    margin: 0px auto 20px;
}

    .new-section {
        color: white;
        text-align: center;
        padding: 50px;
    }

    .new-section h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .image-text-section {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    

    .text-section {
        text-align: left;
        margin-top: 200px;
    }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 80 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

 .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .artist-info {
    text-align: left;
    padding: 10px;
    margin: 200px 0px;
}

.artist-info h2 {
    color: #333;
}

.artist-info p {
    color: #222222;
    text-align: left;
}

.artist-info button{
    margin: 10px 0px;
}

.artist-image {
    text-align: center;
}

.artist-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button a{
    text-decoration: none;
    color: #fff;
    margin: 50px;
}

button{
    padding: 20px;
    background-color: #0056b3;
    border: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.subscribe {
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: chocolate;
    width: 80%;
    margin: auto;
}

.dont-miss-section {
    text-align: center;
    margin-bottom: 20px;
}

.dont-miss-text {
    color: #584835;
    width: 100%;
    margin: 0 0 25px;
    display: block;
    font-size: 80px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.signup-form {
    display: flex;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: chocolate;
    color: black;
}

.form-button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background 0.3s;
    width: 200px;
    height: 40px;
}

.form-button:hover {
    background: #0056b3;
}

 .product-section {
    padding: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 60%;
    margin: 100px auto;    
}

.product-section h3 {
    margin: 20px 0px;   
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
}

.product-item .product-description {
    padding: 15px;
    text-align: left;
}

.product-item .product-price {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #007bff;
}

.exhibition-section {
    background-image: url('./images/20220924_202700.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.exhibition-date {
    font-size: 20px;
    margin: 40px 0px;
}

.exhibition-details h3{
    font-size: 60px;
    margin-bottom: 20px;
}

.exhibition-details p{
    font-size: 20px;
    margin: 40px 0px;
}

.buy-ticket-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-ticket-btn:hover {
    background-color: #0056b3;
}

.flex{
    display: flex;
    justify-content: space-around;
  }
  
.hamburger_container input{
    display: none;
    }
    
    .hamburger_container label{
    font-size: 30px;
    cursor: pointer;
    color: red;
    position: fixed;
    right: 10px;
    top:30px ;
    display: none;
    }
    
    .hide_nav_container{
    display: none;
    height: 70vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    }
    
    .hide_nav_container nav{
        display: contents;
    margin-top: 10%;
    background-color: white;
    }
    
    .hide_nav_container nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #8a8a8a;
    padding-top: 40px;
    }  
    
    .hide_nav_container ul li{
    list-style: none;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer; 
    }
    
    .hide_nav_container ul li a{
    text-decoration: none;
    color: black;
    margin: 30px;
    letter-spacing: 3px;
    }
    
    .hide_nav_container a:hover {
    color: red;
    }
    
    .hide_nav_container .nav  .nav-link :hover {
    color: blue; 
    }

  @media screen and (max-width: 800px) {
    nav{
        display: none;
    }

    header {
        text-align: center;
        padding: 50px 0px 50px;
    }
    .image-text-section {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .column {
      flex: 50%;
      max-width: 50%;
    }

    .text-section {
        text-align: center;
        margin: 20px 0px;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
    }

    .dont-miss-text {
        font-size: 40px;
    }

    .subscribe {
        padding: 50px 0px;
        width: 100%;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .hero-section h2{
        font-size: 30px;
    }

    
.hamburger_container label{
    display: block;
    z-index: 20;
    }

    input:checked ~ .hide_nav_container {
    display: block;
    color: black;
    }

    .artist-info {
        text-align: center;
        padding-bottom: 20px;
        margin: 20px 0px;
    }

    .artist-info p {
        color: #222222;
        text-align: center;
        padding: 10px 0px;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .dont-miss-text {
        font-size: 40px;
    }

    .signup-form {
        display: grid;
        gap: 10px;
        max-width: 400px;
        margin: 0 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        background: url('./images/20231204_230118.jpg') center/cover; 
        color: white;
        height: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    .dont-miss-text {
        font-size: 20px;
    }

    .signup-form {
        display: grid;
        gap: 10px;
        max-width: 400px;
        margin: 0 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .exhibition-details h3{
        font-size: 20px !important;
    }

    .exhibition-date {
        font-size: 15px;
        margin: 40px 0px;
    }

    .hero-section h2{
        font-size: 20px;
    }

  }

  @media screen and (max-width: 500px) {
    .dont-miss-text {
        font-size: 20px;
    }

    .signup-form {
        display: grid;
        gap: 10px;
        max-width: 400px;
        margin: 0 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .exhibition-details h3{
        font-size: 30px ;
    }

    .hero-section h2{
        font-size: 20px;
    }

    .hero-section {
        text-align: center;
        padding: 0px 30px 10px;
    }
  }
  